* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.header {
    background-color: rgb(126, 125, 125);
    text-align: center;
    color: #f8f5f5;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-family: Sekuya
}

.navbar {
    overflow: hidden;
    background-color: rgb(104, 104, 104);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
}

.about {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: #f8f5f5 10px 10px 10px;
    height: 200px;
    
}

.about img{
    float: left;
    clear: both;
}


.about p.right{
    float: right;
    clear: both;
}

.skill {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: #f8f5f5 10px 10px 10px;
}
.table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
}
.table {
    width :100%;
}

.contact {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: #f8f5f5 10px 10px 10px;
}

.contact input{
    width:100%;
    padding: 12px;
    margin: 10px 0;
}

.contact textarea{
    width:100%;
    padding: 12px;
    margin: 10px 0;
}

.contact button{
    width:100%;
    padding: 12px;
    margin: 10px 0;
}
.contact button:hover{
   background-color:  rgb(138, 120, 216);
}

.footer{
    background-color:  rgb(126, 125, 125);
    padding: 3px;
    text-align: center;
    color: #ffffff;
    display: block;
}
